/* #region */
// TEXT TRANSFORM
.tt {
  &-c {
    text-transform: capitalize;
  }
}
/* #endregion */

/* #region */
// FONT SIZE
.fz {
  &-14 {
    font-size: 14px;
  }
  &-16 {
    font-size: 16px;
  }
}
/* #endregion */

/* #region */
// COLORS
.is {
  &-primary {
    &--text {
      color: var(--color-primary);
    }
    &--bg {
      background-color: var(--color-primary);
    }
  }
  &-success {
    &--text {
      color: var(--color-success);
    }
    &--bg {
      background-color: var(--color-success);
    }
  }
}
/* #endregion */